<div class="row">
  <!-- <div class="col-md-6">
    <div class="x_panel">
      <div class="x_title">
        <h2>Pop Overs <small>Sessions</small></h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">

        <div class="alert alert-success alert-dismissible fade in show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
          </button>
          <strong>Holy guacamole!</strong> Best check yo self, you're not looking too good.
        </div>
        <div class="alert alert-info alert-dismissible fade in show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
          </button>
          <strong>Holy guacamole!</strong> Best check yo self, you're not looking too good.
        </div>
        <div class="alert alert-warning alert-dismissible fade in show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
          </button>
          <strong>Holy guacamole!</strong> Best check yo self, you're not looking too good.
        </div>
        <div class="alert alert-danger alert-dismissible fade in show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
          </button>
          <strong>Holy guacamole!</strong> Best check yo self, you're not looking too good.
        </div>

      </div>
    </div>
  </div> -->
  <div class="col-md-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Pop Overs <small>Sessions</small></h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">

        <app-chart type="bar" [labels]="['Test 1', 'Test 2']" [data]="[15, 20]"></app-chart>

      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="x_panel">
      <div class="x_title">
        <h2>Pop Overs <small>Sessions</small></h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">

        <app-chart type="pie" [labels]="['Test 3', 'Test 4']" [data]="[15, 20]" [options]="{responsive: true,maintainAspectRatio: false}"></app-chart>

      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="x_panel">
      <div class="x_title">
        <h2>Pop Overs <small>Sessions</small></h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">

        <app-chart type="pie" [labels]="['Test 5', 'Test 6']" [data]="[15, 20]" [options]="{responsive: true,maintainAspectRatio: false}"></app-chart>

      </div>
    </div>
  </div>
</div>
