<app-nav></app-nav>
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg my-auto">
        <div class="header-content mx-auto">
          <h1 class="mb-5">
            Każdy serwer wymaga nadzoru ze strony administracji. Miej pewność, że Twój serwer będzie aktywnie
            pilnowany!
          </h1>
          <a href="#features" class="btn btn-outline btn-xl js-scroll-trigger">Dowiedz się więcej!</a>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="features" id="features">
  <div class="container">
    <div class="section-heading text-center">
      <h2>Funkcje</h2>
      <p class="text-muted">Dowiedz się o najważniejszych funkcjach usługi!</p>
      <hr>
    </div>
    <div class="row">
      <div class="col-lg my-auto">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="fas fa-database"></i>
                <h3>Baza Danych</h3>
                <p class="text-muted">Dostęp do osobistej bazy danych, przygotowanej specjalnie pod usługę Wezwij
                  Admina!</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="fas fa-shield-alt"></i>
                <h3>Bezpieczeństwo</h3>
                <p class="text-muted">Usługa nie wymaga żadnych danych serwera! Twoje dane są bezpieczne!</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="fas fa-infinity"></i>
                <h3>Brak Ograniczeń</h3>
                <p class="text-muted">Counter-Strike 1.6? Global Offensive? Source? SA:MP? Minecraft? Wiele gier, które
                  mogą współpracować z usługą Wezwij Admina!</p>
              </div>
            </div>
            <!--<div class="col-lg-6">
              <div class="feature-item">
                <i class="fas fa-cogs"></i>
                <h3>Konfigurowalne</h3>
                <p class="text-muted">Ustaw program pod swoje potrzeby! Powiadomienia mogą być wyciszone i wyłączone!</p>
              </div>
            </div>-->
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="fas fa-cogs"></i>
                <h3>API</h3>
                <p class="text-muted">Dzięki prostemu API, możesz bez problemu pobrać informacje o wezwaniach.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="fas fa-chart-line"></i>
                <h3>Statystyki</h3>
                <p class="text-muted">Obserwuj ilość wezwań na danym serwerze oraz interwencje adminów. Statystyki
                  dostępne w czytelnej formie wykresów!</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="fas fa-bolt"></i>
                <h3>Szybkość</h3>
                <p class="text-muted">Program oraz pluginy nie mają znaczącego wpływu na działanie serwera, bez obawy
                  użyjesz go obok największych modyfikacji!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="download bg-primary text-center" id='prices'>
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <h2 class="section-heading">Odpowiednia Cena!</h2>
        <p>Otrzymaj nielimitowany dostęp do usługi już za 30zł miesięcznie!<br>Ilość serwerów oraz adminów
          nieograniczona!</p>
      </div>
    </div>
  </div>
</section>

<section class="cta" id='download'>
  <div class="cta-content">
    <div class="container">
      <h2>Pobierz</h2>
      <p>Dostępne na platformę Windows 7/8/8.1/10</p>
      <a href="#" class="btn btn-outline btn-xl js-scroll-trigger"><i class="fab fa-windows"></i> Windows</a>
    </div>
  </div>
  <div class="overlay"></div>
</section>
<app-footer></app-footer>
